html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    display: flex;
    background: 'white';
    margin: 0 auto;

    

}
.test {
    font-family: 
}